body{
    background-color: black;
    color: rgb(229, 151, 251);
}
h1{
    background-color: rgb(78, 152, 243);
    color: rgb(4, 4, 158);
    text-align:center;
    font-family: "chiller";
}
button{
    background-color: rgb(1, 1, 250);
    font-size: 30px;
    border-radius: 15px;
}
button:hover{
    font-size: 45px;
}
#iniciar{
    background-color: rgb(109, 213, 251);
}
input{
    background-color: rgb(252, 254, 254);
}
#ndl{
    background-color: rgb(255, 255, 255);
    font-size: 22px;
    border-radius: 15px;
}